.stretchedLink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.post {
  position: relative;
}
.post:hover {
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
  transition: 0.5s;
}
.text{
  white-space: pre-line;
}
.buttons {
  margin-top: 0.25em;
  position: relative;
}
.header {
  display: flex;
  align-items: center;
}
.headerTitle {
  margin-left: 0.5em;
}
.avatar {
  width: 3em;
  height: 3em;
  object-fit: cover;
  border-radius: 50%;
}
.username {
  font-weight: bold;
  position: relative;
}
.time {
  color: rgba(0,0,0,.4)
}

.medias {
  background: linear-gradient(45deg, teal, transparent);
  position: relative;
  max-height: 80vh;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slide {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

.overlayContainer {
  width: 100%;
  position: relative;
}

.media {
  width: 100%;
  height: 100%;
}

.face {
  animation: blinking 5s linear infinite;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  opacity: 0;
}

.face:hover {
  animation: none;
  opacity: 1;
}

@keyframes blinking {
  25% {
      opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
}

.faceLabel {
  white-space: nowrap;
}