.stretchedLink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.post {
  position: relative;
}
.post:hover {
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
  transition: 0.5s;
}
.text{
}
.buttons {
  margin-top: 0.25em;
  position: relative;
}
.header {
  display: flex;
  align-items: center;
}
.headerTitle {
  margin-left: 0.5em;
}
.avatar {
  width: 3em;
  height: 3em;
  object-fit: cover;
  border-radius: 50%;
}
.username {
  font-weight: bold;
  position: relative;
}
.time {
  color: rgba(0,0,0,.4)
}
.carousel {
  position: relative;
}